<div class="l-title"><i></i>店面管理</div>
<div class="sortItem">
	<h3>
		<a href="javascript:void(0);">健身房管理</a>
		<b></b>
	</h3>
	<ul>
		<li sort="store/club" class="selected"><i class="subi"></i><a href="javascript:void(0);" >健身房</a></li>
		<li sort="store/coach"><i class="subi"></i><a href="javascript:void(0);" >教练管理</a></li>
	</ul>
</div>
<div class="sortItem">
	<h3>
		<a href="javascript:void(0);">管理信息</a>
		<b></b>
	</h3>
	<ul>
		<li><i class="subi"></i><a id="" href="javascript:void(0);" >新闻公告</a></li>
		<li><i class="subi"></i><a id="" href="javascript:void(0);" >新闻公告</a></li>
	</ul>
</div>
<div class="sortItem">
	<h3>
		<a href="javascript:void(0);">管理信息</a>
		<b></b>
	</h3>
	<ul>
		<li><i class="subi"></i><a id="" href="javascript:void(0);" >新闻公告</a></li>
		<li><i class="subi"></i><a id="" href="javascript:void(0);" >新闻公告</a></li>
	</ul>
</div>