<div id="bindCoachDlg" style="padding: 0 ;" data-options="iconCls:'icon-save'">
	<input type="hidden" id="clubId" />
	<div class="bc-left">
		<div class="bc-top">未选择教练</div>
		<div class="bc-content">
			<ul class="bc-add" id="bcAddList">
				<!-- 
				<li>张三<i title="选择"></i></li>
				 -->
			</ul>
		</div>
	</div>
	<div class="bc-center"></div>
	<div class="bc-right">
		<div class="bc-top">已选择教练</div>
		<div class="bc-content">
			<ul class="bc-del" id="bcDelList">
				<!-- 
				<li>张三<i title="移除"></i></li>
				 -->
			</ul>
		</div>
	</div>
</div>