<div id="clubDlg" class="easyui-dialog" data-options="iconCls:'icon-save',closed:true" style="padding:5px;">
	<div style="width: 270px;float: left;">
		<form id="clubForm"  method="post" enctype="multipart/form-data">
		    <input type="hidden" id="clubForm-id" name="id">
		    <table class="dlgForm">
	            <tr>
					<td>名称：</td>
					<td colspan="3"><input style="width:220px;" class="easyui-textbox" name="name" data-options="required:true,validType:'length[1,50]'"></td>							                     
	            </tr>
	            <tr>
					<td>电话：</td>
					<td colspan="3"><input style="width:100%;" class="easyui-textbox" name="phone"></td>
				</tr>
				<tr>
					<td>地址：</td>
					<td colspan="3"><input style="width:100%;" class="easyui-textbox" name="address"  data-options="required:true,validType:['length[0,100]']"></td>	
				</tr>
	            <tr >
					<td valign="top">简介：</td>
					<td colspan="3" ><input style="width:100%;" name="description" class="easyui-textbox"  style="width:100%;" data-options="height:100,multiline:true,required:false,validType:'length[1,500]'"  ></td>
				</tr>
				<tr>
					<td >级别：</td>
					<td colspan="3" >
						<input style="width:100%;"  name="level" class="easyui-combobox" data-options="
							valueField: 'label',
							textField: 'value',
							editable: false,
							data: [{
								label: '1',
								value: '1'
							},{
								label: '2',
								value: '2'
							},{
								label: '3',
								value: '3'
							},{
								label: '4',
								value: '4'
							},{
								label: '5',
								value: '5'
							}]" />
					</td>	
				</tr>
				<tr>
					<td >经度：</td>
					<td colspan="3"><input id="clubX" style="width:100%;" name="x" class="easyui-numberbox"  data-options="precision:6"></td>							                     
	            </tr>
	            <tr>
					<td>纬度：</td>
					<td colspan="3"><input id="clubY" style="width:100%;" name="y"  class="easyui-numberbox"  data-options="precision:6"></td>	
				</tr>
	        </table>
	   	</form>
	</div>
	<div style="width: 400px;float: left;height: 260px;border: 1px solid #ccc;" id="mapContainer"></div>
</div>

