<div id="clubDlg" class="easyui-dialog" data-options="iconCls:'icon-save',closed:true" style="padding:5px;">
	<form id="clubForm"  method="post" enctype="multipart/form-data">
	    <input type="hidden" id="clubForm-id" name="id">
	    <table class="dlgForm">
            <tr>
				<td>名称：</td>
				<td><input class="easyui-textbox" name="name" data-options="required:true,validType:'length[1,50]'"></td>							                     
				<td>电话：</td>
				<td><input class="easyui-textbox" name="phone"></td>
            </tr>
			<tr>
				<td>地址：</td>
				<td colspan="3"><input style="width:100%;" class="easyui-textbox" name="address"  data-options="required:true,validType:['length[0,100]']"></td>	
			</tr>
                     
            <tr >
				<td valign="top">描述：</td>
				<td colspan="3" ><input name="description" class="easyui-textbox"  style="width:100%;" data-options="height:80,multiline:true,required:false,validType:'length[1,500]'"  ></td>
			</tr>
			<tr>
				<td >级别：</td>
				<td colspan="3" ><input id="clubForm-level" style="width:100%;"  name="level"  class="easyui-textbox" data-options="required:false"></td>	
			</tr>
			<tr>
				<td >经度：</td>
				<td ><input name="x" class="easyui-numberbox"  data-options="precision:6"></td>							                     
				<td >纬度：</td>
				<td><input name="y"  class="easyui-numberbox"  data-options="precision:6"></td>							
            </tr>
            <!--
            <tr>
				 <td >图片：</td>
				 <td colspan="3" ><input  id="serviceFile" type="text" name="imageFile"  style="width:100%;"></input></td>				 
			</tr>
			--> 
        </table>
   	</form>
<!--    	<div style="text-align:center;padding:5px;">    	 -->
<!-- 	   <img id="image-svr" style="border:0;width:300px;height:150px;" > -->
<!--     </div>  -->
</div>

