<div id="imageFormDlg" style="padding: 0 ;" data-options="iconCls:'icon-save'">
	<form method="post" id="imageForm" enctype="multipart/form-data">
		<input type="hidden" id="image-clubId" />
		<input id="serviceFile" name="file"  style="width:400px;">
		<button type="button" id="imageFormBtn" style="">上传</button>
	</form>
	<div id="imgList">
		<!-- 
		<a class="fancybox-effects-b" href="http://localhost:8099/gymplatform/images/5_b.jpg" title="1"><img src="http://localhost:8099/gymplatform/images/5_s.jpg" alt="" /></a>
		<a class="fancybox-effects-b" href="http://localhost:8099/gymplatform/images/5_b.jpg" title="2"><img src="http://localhost:8099/gymplatform/images/5_s.jpg" alt="" /></a>
		<a class="fancybox-effects-b" href="http://localhost:8099/gymplatform/images/5_b.jpg" title="3"><img src="http://localhost:8099/gymplatform/images/5_s.jpg" alt="" /></a>
		<a class="fancybox-effects-b" href="http://localhost:8099/gymplatform/images/5_b.jpg" title="4"><img src="http://localhost:8099/gymplatform/images/5_s.jpg" alt="" /></a>
		 -->
	</div>
</div>