.sly { 
	text-align:right;
	overflow: hidden;
}


.scrollbar {
	position:absolute;
	background: #808080;
	border-radius: 4px;
	border: 2px solid #808080; 
	border-top-color: #666; 
	line-height: 0; 
	top:253px;
	left:31px; 
	height: 5px;
	width:878px;
}

#lcbar.scrollbar,#tbbar.scrollbar{
	width:408px;
}

.scrollbar .handle { border-radius: 4px; background: #fff; cursor: pointer; line-height: 0;
	-webkit-box-shadow: 0 1px 0 #555;
	-moz-box-shadow: 0 1px 0 #555;
	-o-box-shadow: 0 1px 0 #555;
	box-shadow: 0 1px 0 #555;
	width: 100px; height: 100%;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.1;
  filter: alpha(opacity=10);
}